/*
---------------- header ---------------
 */

.form-control {
    margin-top: 15px;
}

.sort-button {
   margin: 15px 0;
}

@media (min-width: 992px) {
    .sort-button {
        margin: 15px 0;
    }

    .sort-button:first-child {
        border-radius: 5px;
        margin-right: 5px;
    }

    .sort-button:nth-child(2) {
        border-radius: 5px;
        margin-left: 5px;
    }

    .sort-button:last-child {
        margin: 15px;
    }
}

@media (max-width: 991px) {
    .sort-button:first-child {
        border-radius: 5px 0 0 5px;
    }

    .sort-button:nth-child(2) {
        border-radius: 0 5px 5px 0;
    }

    .sort-button:last-child {
        margin: 15px 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
     .sort-button:nth-child(2) {
        border-radius: 0;
    }

    .sort-button:last-child {
        border-radius: 0 5px 5px 0;
    }
}

.sort-icons {
    margin-right: 5px;
}

/*
-------------- user card ---------------
 */

.user-card {
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
    margin-right: 15px;
}

.user-card .avatar {
    padding-top: 20px;
}

.user-card .avatar img {
    height: 200px;
    display: block;
    margin: 0 auto;
}

.user-card .about {
    padding-bottom: 25px;
    text-align: justify;
}

/*
--------------- users table -------------
 */

@media (min-width: 992px) {
    .users-table {
        padding-right: 0 !important;
    }
}

@media (max-width: 991px) {
    .users-table {
        box-sizing: content-box;
    }
}

.users-table .table {
    border: 1px solid rgba(0, 0, 0, .2);
}

.users-table .table img {
    height: 60px;
}

.users-table .table tbody tr:hover {
    background: rgba(0, 0, 0, .15);
    cursor: pointer;
}


