<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User list</title>
    <link rel="shortcut icon" href="img/hedgehog.ico" type="image/x-icon">
    <link rel="stylesheet" href="vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <header>
            <input type="text" class="form-control col-md-12" v-model="search" placeholder="Text input">

            <div class="col-md-12 row">
                <button type="button"
                        class="btn btn-default col-xs-6 col-sm-4 col-md-2 sort-button"
                        v-on:click="sortBy('name.first')">

                    <i  class="glyphicon glyphicon-sort-by-alphabet sort-icons"
                        v-bind:class="{ 'glyphicon-sort-by-alphabet': isOrderByName,
                                        'glyphicon-sort-by-alphabet-alt': !isOrderByName }">
                    </i>
                    Sort by name
                </button>
                <button type="button"
                        class="btn btn-default col-xs-6 col-sm-4 col-md-2 sort-button"
                        v-on:click="sortBy('age')">

                    <i  class="glyphicon glyphicon-sort-by-order sort-icons"
                        v-bind:class="{ 'glyphicon-sort-by-order': isOrderByAge,
                                        'glyphicon-sort-by-order-alt': !isOrderByAge }">
                    </i>
                    Sort by age
                </button>
                <button type="button"
                        class="btn btn-danger col-xs-12 col-sm-4 col-md-2 sort-button"
                        v-on:click="resetSortParameters">

                    <i class="glyphicon glyphicon-ban-circle sort-icons"></i>Reset
                </button>
            </div>
        </header><!-- /header -->

        <section class="user-card col-xs-12 col-sm-12 col-md-4">
            <div class="avatar">
                <img v-bind:src="activeUser.avatar" alt="{{ userName }}">
            </div>
            <div class="name">
                <h2>{{ userName }}</h2>
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <td>Age:</td>
                        <td>{{ activeUser.age }}</td>
                    </tr>
                    <tr>
                        <td>Phone:</td>
                        <td>{{ activeUser.phone }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="about"><strong>About:</strong> {{ activeUser.about }}</div>
        </section>

        <section class="users-table row col-xs-12 col-md-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-if="sortDirection == 0"
                        v-for="user in users | filterBy search"
                        track-by="_id"
                        v-on:click="getActiveUser(user, $index)">

                        <td><img v-bind:src="user.avatar" alt="avatar"></td>
                        <td>{{ user.name.first + ' ' + user.name.last }}</td>
                        <td>{{ user.age }}</td>
                        <td>{{ user.phone }}</td>
                    </tr>
                    <tr v-if="sortDirection != 0"
                        v-for="user in users | filterBy search | orderBy $root.sortByValue $root.sortDirection"
                        track-by="_id"
                        v-on:click="getActiveUser(user, $index)">

                        <td><img v-bind:src="user.avatar" alt="avatar"></td>
                        <td>{{ user.name.first + ' ' + user.name.last }}</td>
                        <td>{{ user.age }}</td>
                        <td>{{ user.phone }}</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>

    <script src="vendors/vue/dist/vue.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>